* {
    margin: 0;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
}

#navbar {
    /* *********navigation bar*/
    backdrop-filter: blur(15px);
    /*adding a blur behind the navigation bar*/

    box-shadow: 1px 1px 10px #000;
    /*adding box shadow at the bottom (1px shows the offset to left and bottom, and 10px shows the blurryness of the shadow and #000 is the color of the shadow which is black  */

    position: absolute;
    /* positioning the nav bar absolute so it can be positioned above the background picture */
    width: 100%;
    /*changing the position will shrink the size of the nav, so making it 100% to make it full screen */

}

.menu-list {
    /* */
    height: 80px;
    /* the height of the nav bar */
    width: 100%;
    /* width of the nav bar */
    display: flex;
    /* flexing the three ul containers that are inside the nav bar*/
    justify-content: space-between;
    /* horizontally creating space between the flexed containers*/
    align-items: center;
    /* vertically centering the flexed containers*/
    padding: 0 30px;
    /*creating a 30 pixel space on the left and right of the flexed containers */
}

.menu-list ul {
    list-style: none;
    /* eliminating the bullet points of the ul values */

}

.menu-list-left,
.menu-list-center,
.menu-list-right {
    /*saving lots of lines of code by calling all three containers at once, since they are going to share the same value */
    display: flex;
    /* */
    margin: 0;
    /*eliminating the defult margin */
    width: 33.3%;
    /* giving 3 of the container the same width of 33.3 (100%/3) */

}

.menu-list-left {
    justify-content: left;
    padding: 0;
}

.menu-list-center {
    justify-content: center;
    padding: 20px 0 0 0;
}

.menu-list-center img {
    border-radius: 0 0 20px 20px;
    height: 100px;

}

.menu-list-right {
    justify-content: right;
}

.menu-list a {
    color: #fff;
    text-decoration: none;
    font-size: 17px;
    font-weight: 100;
    padding: 0 15px;
    letter-spacing: 1px;
}

a:hover {
    color: gold;

}

.menu-list-right i {
    font-size: 1.2rem;
    padding: 0 7px;
    cursor: pointer;
    font-weight: 500px;
    transition: 0.3s ease;
    color: hwb(0 100% 0% / 0.81);
}

i:hover {
    color: gold;
}

/* #bar {
    font-size: 1.5rem;
    padding: 7px;
    cursor: pointer;
} */


/* mobile Nav */

/* .navbar-light .navbar-toggler {
    border: none;
    outline: none;
} */

#showcase {
    background-image: url(./images/hero-lg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}



.disc {
    width: 450px;
    height: 350px;
    background: rgba(255, 255, 255, 0.222);
    box-shadow: 0.5px 0.5px 100px rgb(110, 54, 27);
    position: fixed;
    top: 50%;
    left: 20%;
    transform: translate(-20%, -50%);
    border-radius: 10px;
}

.disc img {
    height: 50px;
    display: flex;
    margin: auto;
}

.disc .intro {
    width: 90%;
    height: 70%;
    text-indent: 15px;
    display: grid;
    margin: auto;
    font-family: cursive;
}

/* ---------Registration page------------- */

.wrapper {
    background-image: url(../images/reg-img/reg-hero.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.form {
    width: 450px;
    background: transparent;
    backdrop-filter: blur(10px);
    box-shadow: 0 5px 21px #d4d4d4;
    padding: 40px;
    border-radius: 8px;
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translate(-10%, -50%);

}

#contener {
    position: relative;
    margin-bottom: 25px;
    justify-content: flex-end;
}

/* product page */
#shop {
    background-color: rgba(12, 33, 18, 0.824);

}


#card {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    justify-content: center;
    margin: 50px 0;
}

.card {
    width: 20%;
    max-width: 400px;
    height: 500px;
}

.card-img-top {
    width: 180px;
    margin: auto;
    margin-bottom: 13px;
    border: none;
    display: flex;
    justify-content: center;

}

.btn-primary {
    background-color: rgba(72, 13, 13, 0.912);
}

.card-disc {
    position: absolute;
    bottom: 70px;
    height: 200px;
}



.card-disc p {
    height: 80px;
}

/* added shoppping bg effect */

/* .added-bg {
    background-image: url(./images/gallery/fairtalyW.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
    background-repeat: no-repeat;
}

.card-body {
    backdrop-filter: blur(7px);
    height: 100%;

}

.added-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(252, 254, 255, 0.49);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.card-img-top {
    transition: all 1.0s;
}

.card-body:hover img {
    scale: 1.6;
}

.card-img-top:hover {
    animation: rotate 1.5s ease-in-out 1 forwards;
}

@keyframes rotate {
    form {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
} */
/* ------checkout page------- */
#checkout {
    background-image: url(/images/gallery/cart.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

}

#cart-container,
#cart-bottom {
    background-color: rgba(235, 229, 225, 0.794);
    backdrop-filter: blur(1px);
    border-radius: 20px;
}

#check-out {
    position: absolute;
    Top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

#check-out h2 {

    text-align: center;
    color: #ffffffb7;
    margin: 0 2px 0 0;
    padding-top: 55px;

}

.cart p {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid red;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
    text-align: center;
    position: absolute;
    top: 7px;
    right: 32px;
}

#cart-container table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

#cart-container table thead {
    font-weight: 745;

}

#cart-container table thead td {
    /* background: #fff; */
    border: none;
    padding: 6px 0;
    color: #000;
}

.ctime img {
    width: 200px;

}

#cart-container table td {
    border: 1px;
    text-align: center;

}

#cart-container tr {
    font-size: 25px;
    font-weight: lighter;
}

#cart-container {
    border: 1px solid gray;
    padding: 12px;
}


#Quantity {
    background-color: rgba(6, 91, 194, 0.824);
    border-radius: 10px;
    cursor: pointer;
}

.ctotal {
    display: flex;
    justify-content: space-between;
}

#Quantity:hover {
    color: gold;
}

#cart-bottom .coupon>div {
    border: 1px solid gray;
    margin: 12px;

}

#cart-bottom .coupon h5 {
    margin: 15px;
}

#cart-bottom .coupon input {
    padding: 0 12px;
    height: 32px;
    margin: 0 0 20px 12px;
}

#cart-bottom .total>div {
    border: 1px solid gray;
}

#cart-bottom .total h5,
h6,
button {
    margin: 15px;

}

#cart-bottom .total div>div {
    padding: 0 12px;
}

#cart-bottom .coupon,
.total,
p {
    color: #000000fb;
}