* {
    margin: 0;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
}

#navbar {
    /* *********navigation bar*/
    backdrop-filter: blur(15px);
    /*adding a blur behind the navigation bar*/

    box-shadow: 1px 1px 10px #000;
    /*adding box shadow at the bottom (1px shows the offset to left and bottom, and 10px shows the blurryness of the shadow and #000 is the color of the shadow which is black  */

    position: absolute;
    /* positioning the nav bar absolute so it can be positioned above the background picture */
    width: 100%;
    /*changing the position will shrink the size of the nav, so making it 100% to make it full screen */

}

.menu-list {
    /* */
    height: 80px;
    /* the height of the nav bar */
    width: 100%;
    /* width of the nav bar */
    display: flex;
    /* flexing the three ul containers that are inside the nav bar*/
    justify-content: space-between;
    /* horizontally creating space between the flexed containers*/
    align-items: center;
    /* vertically centering the flexed containers*/
    padding: 0 30px;
    /*creating a 30 pixel space on the left and right of the flexed containers */
}

.menu-list ul {
    list-style: none;
    /* eliminating the bullet points of the ul values */

}

.menu-list-left,
.menu-list-center,
.menu-list-right {
    /*saving lots of lines of code by calling all three containers at once, since they are going to share the same value */
    display: flex;
    /* */
    margin: 0;
    /*eliminating the defult margin */
    width: 33.3%;
    /* giving 3 of the container the same width of 33.3 (100%/3) */

}

.menu-list-left {
    justify-content: left;
    padding: 0;
}

.menu-list-center {
    justify-content: center;
    padding: 20px 0 0 0;
}

.menu-list-center img {
    border-radius: 0 0 20px 20px;
    height: 100px;

}

.menu-list-right {
    justify-content: right;
}

.menu-list a {
    color: #fff;
    text-decoration: none;
    font-size: 17px;
    font-weight: 100;
    padding: 0 15px;
    letter-spacing: 1px;
}

a:hover {
    color: gold;

}

.menu-list-right i {
    font-size: 1.2rem;
    padding: 0 7px;
    cursor: pointer;
    font-weight: 500px;
    transition: 0.3s ease;
    color: hwb(0 100% 0% / 0.81);
}

i:hover {
    color: gold;
}

/* #bar {
    font-size: 1.5rem;
    padding: 7px;
    cursor: pointer;
} */


/* mobile Nav */

.navbar-light .navbar-toggler {
    border: none;
    outline: none;
}

#showcase {
    background-image: url(./images/hero-lg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}



.disc {
    width: 450px;
    height: 350px;
    background: rgba(255, 255, 255, 0.222);
    box-shadow: 0.5px 0.5px 100px rgb(110, 54, 27);
    position: fixed;
    top: 50%;
    left: 20%;
    transform: translate(-20%, -50%);
    border-radius: 10px;
}

.disc img {
    height: 50px;
    display: flex;
    margin: auto;
}

.disc .intro {
    width: 90%;
    height: 70%;
    text-indent: 15px;
    display: grid;
    margin: auto;
    font-family: cursive;
}


.wrapper {
    background-image: url(../images/reg-img/reg-hero.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.form {
    width: 450px;
    background: transparent;
    backdrop-filter: blur(10px);
    box-shadow: 0 5px 21px #d4d4d4;
    padding: 40px;
    border-radius: 8px;
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translate(-10%, -50%);
}

#contener {
    position: relative;
    margin-bottom: 25px;
    justify-content: flex-end;
}